In [62]:
import pandas as pd

In [71]:
df = pd.read_csv('patient_data.csv')
df.head()

,Name,Mobile_No,Email,Age,Num_Pregnancies,Glucose,Skin_Thickness,Blood_Pressure,Insulin,BMI,DiabetedFunction,Outcome
0,Prateek Agrawal,9999211405,prateekagrawal1405@gmail.com,21,0,25,20,69,79,31.4,0.47,1